* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 196, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
    padding: 20px 20px 10px 20px;
}

.slide img {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 30px);
    border-radius: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: end;
    height: 100vh;
    gap: 20px;
    justify-content: center;
}

.slide {
    position: absolute;
    width: 100%;
    z-index: -2;
}

input[type="radio"]:checked+.slide {
    display: block;
    z-index: -1;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}