* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  padding: 50px;

}

.card {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  box-shadow: rgb(79, 79, 79) 10px 10px 10px;
  justify-content: center;
  gap: 10px;
}

.card-image {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease;
  cursor: pointer;
}

/* responsive breakpoint handling   */

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: 200px;
  }
}