* {
    margin: 0;
    padding: 0;
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

body {
    font-family: sans-serif;
    background-color: #010f07;
    height: 100vh;
    transition: ease-in-out;
    overflow: hidden;
}

header {
    color: #F2E3D5;
    background-color: #282E1C;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: #F2E3D5;
    background-color: #282E1C;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    color: #F2E3D5;
    height: calc(100vh - 120px);
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-decoration: none;
    display: inline;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}

nav label {
    cursor: pointer;
    color: white;
    transition: opacity 0.3s;
}

nav label:hover {
    opacity: 0.7;
}

/* Hide all sections by default */
.section {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
/* Show sections based on radio button state */
#home-radio:checked~main #hero,
#products-radio:checked~main #products,
#contact-radio:checked~main #contact {
    display: flex;
}

#hero {
    background-image: url('assets/ranch.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#hero:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.apple-type-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#products ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#products {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#contact {
    background-color: #340202;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* responsive breakpoint handling */

@media screen and (max-width:1000px) {
    .apple-type-img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    .apple-type-img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}